@import url("../../../index.css");

.headerN {
  width: 95%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.btn-container .bi-list {
  font-size: 2rem;
  background-color: #181818;
  color: white;
  cursor: pointer;
}
.btn-container .bi-x {
  font-size: 2rem;
  background-color: #181818;
  color: white;
  cursor: pointer;
}
.btn-container .bi:nth-child(2) {
  display: none;
}

.bi-x::before {
  font-weight: 800 !important;
  font-size: 1.4rem;
  margin: 2px;
}
.bi-list::before {
  font-weight: 800 !important;
  font-size: 1.4rem;
  margin: 2px;
}

/* aside  section */
.aside {
  width: 100%;
  height: 0;
  position: fixed;
  /* overflow: hidden; */
  top: 0;
  left: 0;
  z-index: 1;
}
.aside-wrapper {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.logo-section {
  /* min-height: 32vh;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}
.logo {
  display: grid;
  place-items: center;
  text-decoration: none;
}

.logo img {
  width: 60px;
  height: auto;
}

.logo span {
  font-size: 1.7rem;
  color: #fff;
}

.logo-section > span {
  margin-top: 25px;
  font-size: 12px;
}

/*nav-section*/

.nav-links a {
  display: block;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #bb54cf;
}

.nav-links a::before {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: #bb54cf;
}

/*social icons*/
.social-icons {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}

.social-icons li {
  width: 30px;
  font-size: 1rem;
}

.social-icons li a {
  text-decoration: none;
  color: #909096;
}

.social-icons li a:hover {
  color: #bb54cf;
}
