:root {
  --fontFamily-poppins: "Poppins", sans-serif;

  --fontSize-xlarge: 40, 744;
  --fontSize-large: 21, 744;
  --fontSize-base: 17, 744;
  --fontSize-small: 15, 744;
  --fontSize-xsmall: 14, 744;
  --fontSize-tiny: 12, 744;
  --fontSize-xtiny: 11, 744;
  --fontSize-xxtiny: 9, 744;

  --fontWeight-bold-ultra: 800;
  --fontWeight-bold: 700;
  --fontWeight-semiBold: 600;
  --fontWeight-medium: 500;
  --fontWeight-normal: 400;

  --lineHeight-big: 24;
  --lineHeight-medium: 22;
  --lineHeight-normal: 20;

  --color-white: #ffffff;
  --color-base: #7a6563;
  --color-100: #876e6e;
  --color-200: #9a8584;
  --color-300: #ac9b9a;
  --color-400: #b6a6a5;
  --color-500: #bfb1b0;
  --color-600: #c8bcbc;
  --color-700: #d1c7c7;
  --color-800: #dad2d2;
  --color-900: #e3dddd;
  --color-1000: #d9a9a9;
  --color-2000: #d9bfbf;
  --color-3000: #f2dcdc;
  --color-4000: #f2f2f2;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-base);
}
